.DS_store
*~

# Gitbook Plugins Used Locally
node_modules/*
# Currently track the bibTeX one
!node_modules/gitbook-plugin-bibtex-citation-michael

# GitBook's output dir
_book
book.pdf
book.epub
book.mobi