figure {
  text-align: center;
}

.book.font-family-0,
h1, h2, h3, h4, h5, h6,
.book h1, .book h2, .book h3,
.book h5, .book h5, .book h6 {
  font-family: 'Times New Roman' !important;
}

.book.font-family-1,
body, p, .book {
  font-family: 'Times New Roman';
}

.book .book-body .page-wrapper .page-inner section.normal code,
.book .book-body .page-wrapper .page-inner section.normal pre {
  font-family: 'Source Code Pro';
  background: none;
}

section p:first-of-type:first-letter {
  font-family: 'Times New Roman';
  font-size: 70px;
  float: left;
  margin: 10px 10px 0 0;
  line-height: 0.8;
}

.book .book-body .page-wrapper .page-inner section.normal img {
  border: 1px solid #777;
  border-radius: 2px;
}

#ref-item-1:first-letter,
blockquote > p:first-letter,
td p:first-of-type:first-letter,
section li p:first-of-type:first-letter {
  font-size: inherit !important;
  font-weight: inherit;
  float: none;
  margin: auto;
  line-height: unset;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3,
.markdown-section h4, .markdown-section h5, .markdown-section h6 {
  margin: 0.5em 0;
}


/*
  EBOOK SPECIFIC STUFF
*/

.book,
.page-body,
.page-inner {
  padding-top: 0;
}

/*
  For the table of contents
*/

.book.font-family-0,
h1, h2, h3, h4, h5, h6,
h1.book-chapter,
.book h1, .book h2, .book h3,
.book h5, .book h5, .book h6 {
  padding-top: 0;
  margin-top: 0;
}

.page .section.toc li span.inner span.page, span.page {
  float: left !important;
  padding-right: 5px;
  padding-left: 0;
}

.figure-x-axis,
.figure-y-axis {
  font-weight: bold;
  font-size: 0.9em;
}

.figure-y-axis {
  display: inline-block;
}

.figure-x-axis {
  margin: 0.2em 0;
  text-align: center;
}

.figure-y-axis ~ figcaption {
  margin-left: 3em;
}
